@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #09121C;
    font-family: 'Quicksand', sans-serif;
    padding: 3% 8%;
}

header {
    margin-bottom: 8%;
}

.photo {
    max-width: 50%;
    border-radius: 50%;
}

p {
    font-size: 18px;
    color: wheat;
    letter-spacing: .05rem;
    line-height: 1.75rem;
    padding-bottom: 1rem;
}

.name-h1 {
    font-size: 9rem;
    color: #e0e1dd;
    font-weight: 100;
}

.name-h2 {
    font-size: 7rem;
    color: #778da9;
    font-weight: 100;
}

.name-h3 {
    font-size: 1.5rem;
    color: #e0e1dd;
    font-weight: 200;
    padding: 1rem 0 1rem 0;
    letter-spacing: .05rem;
}

/* Font size adjust */
@media all and (max-width: 800px) {
    .name-h1 {
        font-size: 6rem;

    }
}

/* Font size adjust */
@media all and (max-width: 500px) {
    .name-h1 {
        font-size: 300%;



    }
}


@media all and (max-width: 800px) {
    .name-h2 {
        font-size: 5rem;

    }
}

/* Font size adjust */
@media all and (max-width: 500px) {
    .name-h2 {
        font-size: 250%;

    }
}

h1 {
    font-size: 7rem;
    color: #e0e1dd;
    font-weight: 100;
}

h2 {
    font-size: 5rem;
    color: #778da9;
    font-weight: 400;
    padding-top: 3%;
}

h3 {
    font-size: 1.5rem;
    color: #e0e1dd;
    font-weight: 200;
}

a {
    text-decoration: none;
}

.nav-a {
    font-size: 18px;
    color: #e0e1dd;
    text-decoration: none;
}

/* Navigation flexbox*/
.nav-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 6rem;
}

/* Navigation links*/
.nav-flex-item a {
    position: relative;
    text-decoration: none;
}

.nav-a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #e0e1dd;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
}

.nav-a:hover::before {
    transform: scaleX(1);
}

/*Navigation medium screens */
@media all and (max-width: 800px) {
    .nav-flex-container {
        justify-content: space-around;
        gap: 2rem;
        padding-top: 5%;

    }
}

/*Navigation small screens */
@media all and (max-width: 500px) {
    .nav-flex-container {
        flex-direction: column;
        padding-top: 5%;
    }
}

@media all and (max-width: 500px) {
    .nav-flex-item {
        margin: auto;
    }
}

.about {
    padding-right: 45%;
    padding-left: 5%;
}

/*About medium screens */
@media all and (max-width: 800px) {
    .about {
        padding-right: 10%;
    }
}

/*About small screens */
@media all and (max-width: 500px) {
    .about {
        padding-right: 5%;
    }
}

.flex-column-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-column-item {
    padding-top: 1rem;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    color: #778da9;
}

.card-box :first-child {
    flex: 2 1 auto;
}

.card-box p {
    color: #e0e1dd;
    font-weight: 400;
}

.card-box>div {
    margin: 2% 2% 2% 5%;
    width: 15rem;
    /* height: 20rem; */
    background: #0d1b2a;
    border: #778da9 1px solid;
    border-radius: 20px;
    padding: 1%;
}

.card-box img {

    width: 100%;
}

footer {
    padding-bottom: 50%;
}