@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #09121C;
    font-family: 'Quicksand', sans-serif;
    padding: 3% 8% 0 11%;
}

header {
    margin-bottom: 8%;
}

.photo {
    max-width: 90%;
    border-radius: 50%;
    padding-top: 10%;
}

p {
    font-size: 18px;
    color: wheat;
    letter-spacing: .05rem;
    line-height: 1.75rem;
    padding-bottom: 1rem;
}

.name-h1 {
    font-size: 9rem;
    color: #e0e1dd;
    font-weight: 100;

}

.name-h2 {
    font-size: 7rem;
    color: #778da9;
    font-weight: 100;

}

.name-h3 {
    font-size: 1.25rem;
    color: #e0e1dd;
    font-weight: 200;
    letter-spacing: .05rem;
    padding-bottom: 2%;
}

/* Font size adjust */
@media all and (max-width: 950px) {
    .name-h1 {
        font-size: 6rem;

    }
}

/* Font size adjust */
@media all and (max-width: 500px) {
    .name-h1 {
        font-size: 500%;
    }
}

@media all and (max-width: 950px) {
    .name-h2 {
        font-size: 4rem;

    }
}

/* Font size adjust */
@media all and (max-width: 500px) {
    .name-h2 {
        font-size: 400%;

    }
}

h1 {
    font-size: 7rem;
    color: #e0e1dd;
    font-weight: 100;
}

h2 {
    font-size: 3rem;
    color: #e0e1dd;
    font-weight: 100;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    color: #e0e1dd;
    font-weight: 200;
}

a {
    text-decoration: none;
}

/* Navigation*/
.nav-a {
    font-size: 18px;
    color: #e0e1dd;
    text-decoration: none;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 6rem;
}

/* Navigation links*/
.nav-item a {
    position: relative;
    text-decoration: none;
}

.nav-a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #e0e1dd;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
}

.nav-a:hover::before {
    transform: scaleX(1);
}

/*Navigation medium screens */
@media all and (max-width: 900px) {
    .nav-container {
        justify-content: space-around;
        gap: 2rem;
        padding-top: 5%;
    }
}

/*Navigation small screens */
@media all and (max-width: 500px) {
    .nav-container {
        flex-direction: column;
        padding-top: 5%;
    }
}

@media all and (max-width: 500px) {
    .nav-item {
        margin: auto;
    }
}

.left-rail {
    margin-left: -11%;

}

.left-rail h2 {
    border-bottom: 1px solid rgb(224, 225, 221, .5);
    width: 20%;
    margin: 8rem 0 2rem 0;

}

@media all and (max-width: 950px) {
    .left-rail h2 {
        border-bottom: 1px solid rgb(224, 225, 221, .5);
        width: 40%;
        margin: 2rem 0 2rem 0;

    }
}

.description {
    padding-right: 40%;

}

/* Description medium screens */
@media all and (max-width: 900px) {
    .description {
        padding-right: 8%;
    }
}

/*About small screens */
@media all and (max-width: 500px) {
    .description {
        padding-right: 5%;
    }
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0 2rem;
}

.main-item:nth-child(3n) {
    width: 100%;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    color: #778da9;
}

.card-box-item {
    margin: 0 2rem 2rem 0;
    background: #0d1b2a;
    border: #778da9 1px solid;
    border-radius: 20px;
    padding: 1%;
    height: 5%;
}

.card-box img {
    width: 100%;
    opacity: 0.5;

}

.card-box img:hover {
    opacity: 1;
    transition: .05s ease;
}

.card-box h3 {
    color: #e0e1dd;
    font-weight: 400;
    padding: 1% 1%;
}

.card-box p {
    padding: 1% 1%;
    color: wheat;
    font-weight: 400;
}

footer ul li a {
    list-style: none;
    color: #e0e1dd;
}